@font-face {
    font-family: 'icomoon';
    src:    url('../Content/fonts/iconos-financiero.eot?lob2u7');
    src:    url('../Content/fonts/iconos-financiero.eot?lob2u7#iefix') format('embedded-opentype'),
        url('../Content/fonts/iconos-financiero.ttf?lob2u7') format('truetype'),
        url('../Content/fonts/iconos-financiero.woff?lob2u7') format('woff'),
        url('../Content/fonts/iconos-financiero.svg?lob2u7#iconos-financiero') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
    content: "\e900";
}
.icon-apple:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e902";
}
.icon-banca:before {
    content: "\e903";
}
.icon-borrar:before {
    content: "\e904";
}
.icon-call:before {
    content: "\e905";
}
.icon-cerdo:before {
    content: "\e906";
}
.icon-check:before {
    content: "\e907";
}
.icon-clave-ojo:before {
    content: "\e908";
}
.icon-clave-ojo2:before {
    content: "\e909";
}
.icon-config:before {
    content: "\e90a";
}
.icon-credito:before {
    content: "\e90b";
}
.icon-cruz:before {
    content: "\e90c";
}
.icon-dinero:before {
    content: "\e90d";
}
.icon-email .path1:before {
    content: "\e90e";
    color: rgb(0, 64, 150);
}
.icon-email .path2:before {
    content: "\e90f";
    margin-left: -0.9248046875em;
    color: rgb(133, 178, 0);
}
.icon-exportar:before {
    content: "\e910";
}
.icon-facebook:before {
    content: "\e911";
}
.icon-hints1:before {
    content: "\e912";
}
.icon-hints2:before {
    content: "\e913";
}
.icon-icon1:before {
    content: "\e914";
}
.icon-icon3:before {
    content: "\e915";
}
.icon-icon4:before {
    content: "\e916";
}
.icon-icon5:before {
    content: "\e917";
}
.icon-icono2:before {
    content: "\e918";
}
.icon-left:before {
    content: "\e919";
}
.icon-libro:before {
    content: "\e91a";
}
.icon-login:before {
    content: "\e91b";
}
.icon-logo-footer:before {
    content: "\e91c";
}
.icon-mail-enviar:before {
    content: "\e91d";
}
.icon-mapa:before {
    content: "\e91e";
}
.icon-mas:before {
    content: "\e91f";
}
.icon-mensaje:before {
    content: "\e920";
}
.icon-off:before {
    content: "\e921";
}
.icon-ojo:before {
    content: "\e922";
}
.icon-porcentaje:before {
    content: "\e923";
}
.icon-pregunta:before {
    content: "\e924";
}
.icon-punto:before {
    content: "\e925";
}
.icon-recargar:before {
    content: "\e926";
}
.icon-tarjeta:before {
    content: "\e927";
}
.icon-teclado:before {
    content: "\e928";
}
.icon-telefono:before {
    content: "\e929";
}
.icon-twitter:before {
    content: "\e92a";
}
.icon-youtube:before {
    content: "\e92b";
}

/*

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
    content: "\e900";
}

.icon-coffee:before {
    content: "\e901";
}

.icon-message:before {
    content: "\e902";
}

.icon-network:before {
    content: "\e903";
}

.icon-operator:before {
    content: "\e904";
}

.icon-star-qualify-1:before {
    content: "\e905";
}

.icon-star-qualify-2:before {
    content: "\e906";
}

.icon-arrow:before {
    content: "\e907";
}

.icon-bag:before {
    content: "\e908";
}

.icon-card:before {
    content: "\e909";
}

.icon-checked:before {
    content: "\e90a";
}

.icon-maps:before {
    content: "\e90b";
}

.icon-moon:before {
    content: "\e90c";
}

.icon-option:before {
    content: "\e90d";
}

.icon-pencil-1:before {
    content: "\e90e";
}

.icon-pencil:before {
    content: "\e90f";
}

.icon-shield:before {
    content: "\e910";
}

.icon-star:before {
    content: "\e911";
}

.icon-Sun:before {
    content: "\e912";
}

.icon-tick:before {
    content: "\e913";
}

.icon-waster:before {
    content: "\e914";
}

*/

