/**[FUENTES]**/
$login-lato   :'Lato', sans-serif;
$login-roboto :'Roboto', sans-serif;

/**[colores]**/
$login-azul:            #00ACED;
$login-amarillo:        #FFDB00;
$login-alerta:          #F9FBCA;
$login-cafe:            #B6630C;
$login-celeste:         #DFE8F4;
$login-celeste_oscuro:  #3398DA;
$login-gris:            #DDDDDD;
$login-gris_oscuro:     #646472;
$login-rojo:            #FF4D4D;
$login-azul-activo:     #007CFF;
$login-verde:           #85B200;