<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AllowedCorsOrigins" value="http://localhost:8101" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="DbSolicitud" connectionString="Data Source=localhost\SQLEXPRESS; initial catalog=DbSolicitudQA; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DbCampanas" connectionString="Data Source=localhost\SQLEXPRESS; initial catalog=DbCampanasQA; Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="database" type="Database" xdt:Locator="Match(name)">
        <connectionString xdt:Transform="Replace">
          Data Source=localhost\SQLEXPRESS; initial catalog=LogsQA; Integrated Security=true;
        </connectionString>
      </target>
      <target name="Mail" to="financiero-dco@avantica.net" from="notificacionesdco@gmail.com" smtpUsername="notificacionesdco@gmail.com" enableSsl="true"  smtpPassword="Diners2016" smtpAuthentication="Basic" smtpServer="smtp.gmail.com" smtpPort="587" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </targets>
  </nlog>
</configuration>