<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="AllowedCorsOrigins" value="http://localhost" />
    <add key="UseSoapModule" value="False" />
    <add key="CorreoDinersSac" value="diners.help@gmail.com" />
    <add key="TimeZoneDbApiKey" value="6X30RWCF7CDX" />
    <add key="OpenWeatherMapApiKey" value="af21149af2f11bebd346515bd8853ad7" />
    <!--<add key="DatabaseInitializerForType DinersClubOnline.Repositories.Solicitudes.SolicitudContext, DinersClubOnline.Repositories.Solicitudes"
        value="System.Data.Entity.DropCreateDatabaseAlways`1[[DinersClubOnline.Repositories.Solicitudes.SolicitudContext, DinersClubOnline.Repositories.Solicitudes]], EntityFramework" />-->
    <add key="DatabaseInitializerForType DinersClubOnline.Repositories.Solicitudes.SolicitudContext, DinersClubOnline.Repositories.Solicitudes" value="System.Data.Entity.DropCreateDatabaseIfModelChanges`1[[DinersClubOnline.Repositories.Solicitudes.SolicitudContext, DinersClubOnline.Repositories.Solicitudes]], EntityFramework" />
    <add key="DatabaseInitializerForType DinersClubOnline.Repositories.Campanas.CampanaContext, DinersClubOnline.Repositories.Campanas" value="System.Data.Entity.DropCreateDatabaseIfModelChanges`1[[DinersClubOnline.Repositories.Campanas.CampanaContext, DinersClubOnline.Repositories.Campanas]], EntityFramework" />
  </appSettings>
  <connectionStrings>
    <add name="DbSolicitud" connectionString="Data Source=localhost; initial catalog=DbSolicitud; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DbCampanas" connectionString="Data Source=localhost; initial catalog=DbCampanas; Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <machineKey validationKey="F6D10FA85D803BD184F866C8CE4582E361E4363E87B8ECB413FDA57079524787C1C2BC9BB5A0E903D9165D4BBFBE643C2904CBD50E5714544AFCAE81F280DF91" decryptionKey="720AA1E48EC5B6FB72D6594118418AC207DCA942B0D35FBEED6947F8C0CBF4E3" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="WebDAV" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>&gt;
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TarjetaBinding" />
        <binding name="SeguridadBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.62.220.246:8080/DinersClubOnlineWS/Tarjeta" binding="basicHttpBinding" bindingConfiguration="TarjetaBinding" contract="TarjetaService.Tarjeta" name="TarjetaPort" />
      <endpoint address="http://200.62.220.246:8080/DinersClubOnlineWS/Seguridad" binding="basicHttpBinding" bindingConfiguration="SeguridadBinding" contract="SeguridadService.Seguridad" name="SeguridadPort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-api.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Api Services" />
      <target name="database" type="Database">
        <connectionString>
          Data Source=localhost; initial catalog=Logs; Integrated Security=true;
        </connectionString>
        <commandText>
          insert into system_logging(log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
        </commandText>
        <parameter name="@time_stamp" layout="${longdate}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@machinename" layout="${aspnet-request:serverVariable=remote_addr}" />
        <parameter name="@user_name" layout=" ${aspnet-user-identity}" />
        <parameter name="@call_site" layout="${callsite:filename=true}" />
        <parameter name="@threadid" layout="${threadid}" />
        <parameter name="@log_exception" layout="${exception}" />
        <parameter name="@stacktrace" layout="${stacktrace}" />
      </target>
      <target name="Mail" xsi:type="Mail" html="true" subject="Log Received" body="${message}" to="notificacionesdco@gmail.com" from="notificacionesdco@gmail.com" layout="${longdate:format=yyyy-MM-dd HH:mm:ss} ${level:uppercase=true:padding=5} ${message} ${exception:format=Message,StackTrace}" Encoding="UTF-8" smtpUsername="notificacionesdco@gmail.com" enableSsl="true" useSystemNetMailSettings="false" smtpPassword="Diners2016" smtpAuthentication="Basic" smtpServer="smtp.gmail.com" smtpPort="587" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
      <logger name="*" minlevel="Trace" writeTo="database" />
      <!--<logger name="*" minlevel="Trace" writeTo="Mail" />-->
    </rules>
  </nlog>
</configuration>