<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DatabaseInitializerForType DinersClubOnline.Repositories.Solicitudes.SolicitudContext, DinersClubOnline.Repositories.Solicitudes" value="System.Data.Entity.DropCreateDatabaseIfModelChanges`1[[DinersClubOnline.Repositories.Solicitudes.SolicitudContext, DinersClubOnline.Repositories.Solicitudes]], EntityFramework" />
    <add key="Envio.Solicitudes.From" value="notificacionesdco@gmail.com"/>
    <add key="Envio.Solicitudes.To" value="notificacionesdco@gmail.com"/>
    <add key="Envio.Solicitudes.Subject" value="Envio de Solicitudes"/>
    <add key="Envio.Solicitudes.Body" value="Lista de Solicitudes"/>
    <add key="Envio.Solicitudes.CredentialUser" value="notificacionesdco@gmail.com"/>
    <add key="Envio.Solicitudes.CredentialPassword" value="Diners2016"/>
  </appSettings>
  <connectionStrings>
    <add name="DbSolicitud" connectionString="Data Source=localhost\SQLEXPRESS; initial catalog=DbSolicitud; Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
      <mailSettings>
        <smtp deliveryMethod="Network" deliveryFormat="SevenBit"  from="notificacionesdco@gmail.com">
          <network host="smtp.gmail.com" port="587" defaultCredentials="true" enableSsl="true"/>
        </smtp>
      </mailSettings>
  </system.net>
</configuration>
