<div class="text-left container__movimiento-lista">
	<ul>
		<li><a ng-href="#/servicios-socio?tab=tab-1">Bloqueo de tarjeta<span><i class="icon1-flecha-right"></i></span></a></li>
		<li><a ng-href="#/soluciones-financieras?tab=tab-3">Débito Automático<span><i class="icon1-flecha-right"></i></span></a></li>
		<li><a ng-href="#/soluciones-financieras?tab=tab-2">Cargo Automático<span><i class="icon1-flecha-right"></i></span></a></li>
		<li><a ng-href="#/servicios-socio?tab=tab-2">Mis alertas<span><i class="icon1-flecha-right"></i></span></a></li>
		<li ng-show="MenuLateralCtrl.tieneOfertas"><a ng-href="#/ofertas">Mis ofertas<span><i class="icon1-flecha-right"></i></span></a></li>
	</ul>
</div>
<br />
<div class="container__movimiento-avisos" ng-click="MenuLateralCtrl.redireccionar('https://dinersonline.com.pe/WebDiners/spendAnalyzer.html')">
	<span><i class="icon1-escudo"></i></span>
	<p>
		<b>SPEND ANALIZER</b><br />
		<small>ORGANIZE SUS GASTOS</small>
	</p>
</div>