<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="AllowedCorsOrigins" value="http://localhost:8201" />
    <add key="UseSoapModule" value="False"/>
    <add key="ClaveDigitalTokenExpirationInHours" value="1" />
    <add key="TarjetaTokenExpirationInMinutes" value="5" />
    <add key="OperacionesTokenExpirationInSeconds" value="60" />
  </appSettings>
</configuration>